@using Posy.V2.Infra.CrossCutting.Common.Resources
@{
    Layout = "~/Views/Shared/_PrincipalComunidade.cshtml";
    ViewBag.Title = "AddComunidade";
}


<div class="ms-cnt-blc ms-cnt-cadcmm">

    <div class="ms-cnt-tit-blc">
        <h1 class="ms-tit-blc-txt icon-cmm">@UIConfig.CriarComunidade</h1>
        <div class="ms-tit-blc-line"></div>
    </div>

    <!-- TABS INI ----------------------------------------------------------------------------------------------------------------------------->

    <div class="tabs pnlCadCmm" style="display:block;">
        <table class="tabs-table-label">
            <tr>
                <td><label class="tabs-tab-label tabs-tab-label-selected" idcontent="content-1">@UIConfig.DadosDaComunidade</label></td>
                <td style="display:none;"><label class="tabs-tab-label" idcontent="content-2">@UIConfig.FotoDaComunidade</label></td>
                <td style="display:none;"><label class="tabs-tab-label" idcontent="content-3">@UIConfig.Privacidade</label></td>
            </tr>
        </table>

        <div class="clear-shadow"></div>

        <div class="tabs-content" style="min-height:300px;">
            <div class="tabs-tab-content content-1" style="display:block;">

                <!-- FORM INI ----------------------------------------------------------------------------------------------------------------------------->

                <div id="formDados" class="fm-cnt-default">

                    <div class="box-form">
                        <fieldset>

                            <div class="half-width">
                                <label for="txtNome">@UIConfig.NomeDaComunidade</label>
                                <input type="text" id="txtNome" name="txtNome" maxlength="100" class="obrigatorio" />
                            </div>

                            <div class="half-width">
                                <div>
                                    <p class="half-width" style="width:100%;">
                                        <label>@UIConfig.Categoria</label>
                                        <b>
                                            <span class="cd-select" style="width: 100%;">
                                                <select name="dropCategoria" id="dropCategoria" style="width: 100%;">
                                                    <option value="1">@UIConfig.Amizades</option>
                                                    <option value="2">@UIConfig.Relacionamentos</option>
                                                </select>
                                            </span>
                                        </b>
                                    </p>
                                </div>
                            </div>

                            <div class="half-width" style="width: 100%;">
                                <label for="userPerfilCmm">@UIConfig.PerfilDaComunidade</label>

                                <div class="ed-cnt-cmt" style="margin-top:5px;">

                                </div><!-- end of comments container "ed-cnt-cmt" -->

                            </div>

                        </fieldset>

                        <div class="ed-cnt-cmt-btn">
                            <div class="button-group">
                                <a href="javascript:void(0);" class="button big icon approve primary btnSalvarDadosCmm">@UIConfig.SalvarDadosDaComunidade</a>
                                @*<a href="javascript:void(0);" class="button big icon trash danger btnExcluirCmm">@UIConfig.ExcluirComunidade</a>*@
                            </div>
                        </div>

                    </div>

                </div> <!-- .fm-cnt-default -->
                <!-- FORM FIM ----------------------------------------------------------------------------------------------------------------------------->

            </div>
            <div class="tabs-tab-content content-2">

                <!-- FORM INI ----------------------------------------------------------------------------------------------------------------------------->

                <div class="fm-cnt-default">

                    <div class="box-form">
                        <fieldset>

                            <div class="half-width">
                                <label for="txtNome">&nbsp;</label>

                                <div id="filename"></div>
                                <div id="progress"></div>
                                <div id="progressBar"></div>

                                <input type="file" id="fileUploadFoto" name="file">
                            </div>

                        </fieldset>
                    </div>

                </div>

                <!-- FORM FIM ----------------------------------------------------------------------------------------------------------------------------->
                <!-- CONTAINER CROP IMAGEM INI ----------------------------------------------------------------------------------------------------------------------------->

                <div id="containerCropImg"></div>

                <!-- CONTAINER CROP IMAGEM FIM ----------------------------------------------------------------------------------------------------------------------------->

            </div>
            <div class="tabs-tab-content content-3">

                <div id="formPrivacidade" class="fm-cnt-default">

                    <div class="box-form">

                        <fieldset>

                            <div class="half-width">
                                <div>
                                    <p class="half-width" style="width:100%;">
                                        <label>@UIConfig.Tipo</label>
                                        <b>
                                            <span class="cd-select" style="width: 100%;">
                                                <select name="dropTipo" id="dropTipo" style="width: 100%;">
                                                    <option value="1">@UIConfig.Publica</option>
                                                    <option value="2">@UIConfig.Privada</option>
                                                </select>
                                            </span>
                                        </b>
                                    </p>
                                </div>
                            </div>

                            <!--div class="half-width">
                                <div>
                                    <p class="half-width" style="width:100%;">
                                        <label>Quem pode criar tópicos</label>
                                        <b>
                                            <span class="cd-select" style="width: 100%;">
                                                <select name="dropEscreverRecados" id="dropEscreverRecados" style="width: 100%;">
                                                    <option value="1">Apenas membros</option>
                                                    <option value="0">Todos</option>
                                                </select>
                                            </span>
                                        </b>
                                    </p>
                                </div>
                            </div-->

                        </fieldset>

                        <fieldset>
                            <div class="ed-cnt-cmt-btn">
                                <a href="javascript:void(0);" class="button big icon approve primary btnSalvarDadosPrivacidade">@UIConfig.SalvarDadosDePrivacidade</a>
                            </div>
                        </fieldset>

                    </div>

                </div>

            </div>
        </div>

        <div class="ed-cnt-cmt-btn">
            <a href="javascript:void(0);" class="button big icon approve primary btnCriarComunidade">@UIConfig.CriarComunidade</a>
        </div>

    </div>

    <!-- TABS FIM ----------------------------------------------------------------------------------------------------------------------------->

</div>

@section Scripts {
    @Scripts.Render("~/bundles/perfil/edit")
    <script type="text/javascript">
        $(document).ready(function () {

            var _txtNome, _dropCategoria, _dropTipo, editorPerfil;

            _txtNome = $("#txtNome");
            _dropCategoria = $("#dropCategoria");
            _dropTipo = $("#dropTipo");

            editorPerfil = $(".ed-cnt-cmt").editorHtml({ buttonsBottom: false });

            fnView();

            $(document).on("click", ".btnCriarComunidade", function () {
                if (fnVerificaCampos("#formDados") != "n") {
                    fnNotificacao("warning", "Preencha os campos corretamente.", V_TIME_MESSAGE);
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }

                fnCriarCmm($(this));
            });

            $(document).on("keyup", "#txtNome", function () {
                $(".lblNome").text($(this).val());
            });

            //$(document).on("click", ".btnSalvarDadosPrivacidade", function () {
            //    fnSalvarPrivacidade($(this));
            //});

            function fnCriarCmm(objBtn) {

                var objContainerLoading = objBtn;
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.Nome = _txtNome.val();
                model.CategoriaId = _dropCategoria.val();

                var _objEditor = editorPerfil.find('.the-new-com'),
                    _nodeName = _objEditor.get(0).nodeName;

                if (_nodeName == "IFRAME")
                    model.DescricaoPerfil = _objEditor.contents().find("body").html();
                else
                    model.DescricaoPerfil = _objEditor.val();

                $.post("/ajax/comunidade/add", { model: model }, function (response) {

                    fnNotificacao("success", "Comunidade criada com sucesso.", V_TIME_MESSAGE);

                    $("label[idcontent='content-2']").closest("td").show();
                    $("label[idcontent='content-3']").closest("td").show();

                    fnLocationHref(response);

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            //function fnSalvarPrivacidade(objBtn) {

            //    var objContainerLoading = objBtn;
            //    objContainerLoading.buttonLoader('start');

            //    var model = new Object();
            //    model.CodCmm = codCmm;
            //    model.Tipo = _dropTipo.val();

            //    $.post("/ajax/comunidade/privacidade/edit", { model: model }, function (response) {

            //        fnNotificacao("success", "Sucesso na operação.", V_TIME_MESSAGE);

            //        $("html, body").animate({ scrollTop: 0 }, "slow");

            //    }).always(function () {
            //        objContainerLoading.buttonLoader('stop');
            //    });
            //}

            function fnView() {

                $(".lblNome").html("Nome da Comunidade");
                $(".ms-tit-blc-txt").html("Criar Comunidade");
                $(".btnCriarComunidade").show();
                $(".btnSalvarDadosCmm").hide();
                $(".btnExcluirCmm").hide();

                editorPerfil.find('.new-com-bt').click();

                _txtNome.focus();

                $("html, body").animate({ scrollTop: 0 }, "slow");
            }

        });
    </script>
}