@using Posy.V2.Infra.CrossCutting.Common.Resources
@{Posy.V2.Domain.Entities.Comunidade ComunidadeView = @Posy.V2.MVC.Controllers.BaseControllerComunidade.ComunidadeView; }
@{
    Layout = "~/Views/Shared/_PrincipalComunidade.cshtml";
    ViewBag.Title = "EditComunidade";
}


<div class="ms-cnt-blc ms-cnt-cadcmm">

    <div class="ms-cnt-tit-blc">
        <h1 class="ms-tit-blc-txt icon-cmm">@UIConfig.EditarComunidade</h1>
        <div class="ms-tit-blc-line"></div>
    </div>

    <!-- TABS INI ----------------------------------------------------------------------------------------------------------------------------->

    <div class="tabs pnlCadCmm" style="display: block;">
        <table class="tabs-table-label">
            <tr>
                <td><label class="tabs-tab-label tabs-tab-label-selected" idcontent="content-1">@UIConfig.DadosDaComunidade</label></td>
                <td style="display: none;"><label class="tabs-tab-label" idcontent="content-2">@UIConfig.FotoDaComunidade</label></td>
                <td style="display: none;"><label class="tabs-tab-label" idcontent="content-3">@UIConfig.Privacidade</label></td>
            </tr>
        </table>

        <div class="clear-shadow"></div>

        <div class="tabs-content" style="min-height: 300px;">
            <div class="tabs-tab-content content-1" style="display: block;">

                <!-- FORM INI ----------------------------------------------------------------------------------------------------------------------------->

                <div id="formDados" class="fm-cnt-default">

                    <div class="box-form">
                        <fieldset>

                            <div class="half-width">
                                <label for="txtNome">@UIConfig.NomeDaComunidade</label>
                                <input type="text" id="txtNome" name="txtNome" maxlength="100" class="obrigatorio" value="@ComunidadeView.Nome" />
                            </div>

                            <div class="half-width">
                                <div>
                                    <p class="half-width" style="width: 100%;">
                                        <label>@UIConfig.Categoria</label>
                                        <b>
                                            <span class="cd-select" style="width: 100%;">
                                                <select name="dropCategoria" id="dropCategoria" style="width: 100%;">
                                                    <option value="1">@UIConfig.Amizades</option>
                                                    <option value="2">@UIConfig.Relacionamentos</option>
                                                </select>
                                            </span>
                                        </b>
                                    </p>
                                </div>
                            </div>

                            <div class="half-width" style="width: 100%;">
                                <label for="userPerfilCmm">@UIConfig.PerfilDaComunidade</label>

                                <div class="ed-cnt-cmt" style="margin-top: 5px;">
                                </div>
                                <!-- end of comments container "ed-cnt-cmt" -->

                            </div>

                        </fieldset>

                        <div class="ed-cnt-cmt-btn">
                            <div class="button-group">
                                <a href="javascript:void(0);" class="button big icon approve primary btnSalvarDadosCmm">@UIConfig.SalvarDadosDaComunidade</a>
                                <a href="javascript:void(0);" class="button big icon trash danger btnExcluirCmm">@UIConfig.ExcluirComunidade</a>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- .fm-cnt-default -->
                <!-- FORM FIM ----------------------------------------------------------------------------------------------------------------------------->

            </div>
            <div class="tabs-tab-content content-2">

                <!-- FORM INI ----------------------------------------------------------------------------------------------------------------------------->

                <fieldset>
                    <div class="ed-cnt-cmt-btn">
                        <a href="javascript:void(0);" class="button big icon approve primary btnUpload">
                            @UIConfig.AlterarFotoDaComunidade
                        </a>
                    </div>
                </fieldset>
                <div class="fileContainer">
                    <input type="file" id="fileUploadFoto" name="file">
                </div>

                <!-- FORM FIM ----------------------------------------------------------------------------------------------------------------------------->
                <!-- CONTAINER CROP IMAGEM INI ----------------------------------------------------------------------------------------------------------------------------->

                <div id="containerCropImg"></div>

                <!-- CONTAINER CROP IMAGEM FIM ----------------------------------------------------------------------------------------------------------------------------->

            </div>
            <div class="tabs-tab-content content-3">

                <div id="formPrivacidade" class="fm-cnt-default">

                    <div class="box-form">

                        <fieldset>

                            <div class="half-width">
                                <div>
                                    <p class="half-width" style="width: 100%;">
                                        <label>@UIConfig.Tipo</label>
                                        <b>
                                            <span class="cd-select" style="width: 100%;">
                                                <select name="dropTipo" id="dropTipo" style="width: 100%;">
                                                    <option value="1">@UIConfig.Publica</option>
                                                    <option value="2">@UIConfig.Privada</option>
                                                </select>
                                            </span>
                                        </b>
                                    </p>
                                </div>
                            </div>

                            <!--div class="half-width">
                                <div>
                                    <p class="half-width" style="width:100%;">
                                        <label>Quem pode criar tópicos</label>
                                        <b>
                                            <span class="cd-select" style="width: 100%;">
                                                <select name="dropEscreverRecados" id="dropEscreverRecados" style="width: 100%;">
                                                    <option value="1">Apenas membros</option>
                                                    <option value="0">Todos</option>
                                                </select>
                                            </span>
                                        </b>
                                    </p>
                                </div>
                            </div-->

                        </fieldset>

                        <fieldset>
                            <div class="ed-cnt-cmt-btn">
                                <a href="javascript:void(0);" class="button big icon approve primary btnSalvarDadosPrivacidade">@UIConfig.SalvarDadosDePrivacidade</a>
                            </div>
                        </fieldset>

                    </div>

                </div>

            </div>
        </div>

        <div class="ed-cnt-cmt-btn">
            <a href="javascript:void(0);" class="button big icon approve primary btnCriarComunidade">@UIConfig.EditarComunidade</a>
        </div>

    </div>

    <!-- TABS FIM ----------------------------------------------------------------------------------------------------------------------------->

</div>


@section Scripts {
    @Scripts.Render("~/bundles/perfil/edit")
    <script type="text/javascript">
        $(document).ready(function () {

            var _txtNome, _dropCategoria, _dropTipo, editorPerfil;

            _txtNome = $("#txtNome");
            _dropCategoria = $("#dropCategoria");
            _dropTipo = $("#dropTipo");

            editorPerfil = $(".ed-cnt-cmt").editorHtml({ buttonsBottom: false });

            fnView();

            $(document).on("click", ".btnSalvarDadosCmm", function () {
                if (fnVerificaCampos("#formDados") != "n") {
                    fnNotificacao("warning", "Preencha os campos corretamente.", V_TIME_MESSAGE);
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }

                fnEditarPerfilCmm($(this));
            });

            $(document).on("click", ".btnExcluirCmm", function () {
                if (confirm("Confirma a exclusão da comunidade?") == false) return false;
                fnExcluirCmm($(this));
            });

            $(document).on("keyup", "#txtNome", function () {
                $(".lblNome").text($(this).val());
            });

            $(document).on("click", ".btnSalvarDadosPrivacidade", function () {
                fnSalvarPrivacidade($(this));
            });

            function fnEditarPerfilCmm(objBtn) {

                var objContainerLoading = objBtn;
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.Alias = "";
                model.Nome = _txtNome.val();
                model.CategoriaId = _dropCategoria.val();

                var _objEditor = editorPerfil.find('.the-new-com'),
                    _nodeName = _objEditor.get(0).nodeName;

                if (_nodeName == "IFRAME")
                    model.DescricaoPerfil = _objEditor.contents().find("body").html();
                else
                    model.DescricaoPerfil = _objEditor.val();

                $.post("/ajax/comunidade/edit", { model: model }, function (response) {

                    fnNotificacao("success", "Comunidade criada com sucesso.", V_TIME_MESSAGE);

                    $("label[idcontent='content-2']").closest("td").show();
                    $("label[idcontent='content-3']").closest("td").show();

                    fnLocationHref(response);

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            function fnSalvarPrivacidade(objBtn) {

                var objContainerLoading = objBtn;
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.Tipo = _dropTipo.val();

                $.post("/ajax/comunidade/edit/privacidade", { model: model }, function (response) {

                    fnNotificacao("success", "Sucesso na operação.", V_TIME_MESSAGE);

                    $("html, body").animate({ scrollTop: 0 }, "slow");

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            function fnExcluirCmm(objBtn) {

                var objContainerLoading = objBtn;
                objContainerLoading.buttonLoader('start');

                var model = new Object();
                model.CodCmm = codCmm;

                $.post("/ajax/comunidade/delete", { model: model }, function (response) {

                    fnNotificacao("success", "Comunidade excluída com sucesso.", V_TIME_MESSAGE);

                    fnLocationHref(response);

                }).always(function () {
                    objContainerLoading.buttonLoader('stop');
                });
            }

            function fnView() {

                $(".btnCriarComunidade").hide();
                $(".btnSalvarDadosCmm").show();
                $(".btnExcluirCmm").show();

                _dropCategoria.val("@ComunidadeView.CategoriaId.ToString()");
                _dropTipo.val("@ComunidadeView.TipoComunidade.ToString()");
                //_dropTipo.val("@( (Int32)@ComunidadeView.TipoComunidade )");

                editorPerfil.find('.new-com-bt').click();
                editorPerfil.find('.the-new-com').contents().find("body").html("@Html.Raw(HttpUtility.JavaScriptStringEncode(@ComunidadeView.PerfilHtml))");

                //var $iframe = editorPerfil.find("iframe.the-new-com");
                //$iframe.css('height', ($iframe.contents().find('body').height()) + 'px');

                $(".tooltip2").tipsy({ gravity: 's' });

                $(".pnlEditPerfil").show();

                $(".tabs-tab-label[idcontent='content-2']").closest("td").show();
                $(".tabs-tab-label[idcontent='content-3']").closest("td").show();

                _txtNome.focus();
            }

            $('#fileUploadFoto').change(function () {
                var objLoader;

                $(this).simpleUpload("/ajax/comunidade/upload/foto", {

                    allowedExts: ["jpg", "jpeg", /*"jpe", "jif", "jfif", "jfi",*/ "png", "gif"],
                    allowedTypes: [/*"image/pjpeg",*/ "image/jpeg", "image/png", "image/x-png", "image/gif", "image/x-gif"],
                    maxFileSize: 5000000, //5MB in bytes

                    beforeSend: function (jqXHR, settings) {
                        // https://code.i-harness.com/en/q/3e2ad7
                        settings.data.append("__RequestVerificationToken", gettoken());
                    },

                    start: function (file) {
                        objLoader = $(".mv-loading").boxLoader();
                    },

                    progress: function (progress) {
                        //received progress
                    },

                    success: function (data) {
                        objLoader.stop();

                        var v_html =
                            '<div class="component" style="border:solid 1px red;">' +
                            '<div class="overlay">' +
                            '<div class="overlay-inner">' +
                            '</div>' +
                            '</div>' +
                            '<img class="resize-image" src="' + data + '" imagesrc="' + data + '" alt="image for resizing">' +
                            '<a href="javascript:void(0);" class="button big icon btn-crop js-crop">Trocar imagem</a>' +
                            '</div>';

                        $("#containerCropImg").html(v_html);

                        resizeableImage($('#containerCropImg .resize-image'), "editcmm");
                    },

                    error: function (error) {
                        objLoader.stop();
                        fnError(error.message);
                    }

                });

            });

        });
    </script>
}