@using Microsoft.Owin.Security
@using Posy.V2.Infra.CrossCutting.Common.Resources
@model Posy.V2.Infra.CrossCutting.Identity.Model.ExternalLoginListViewModel
<br /><br />

<h6 class="text-center font-italic font-weight-light">@UIConfigLogin.ConectarCom.ToLower()</h6>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        //using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { id = "externalLoginForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="text-center">
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    @*var idBtn = "btn" + @p.AuthenticationType;
                        <input type="hidden" name="provider" value="@p.AuthenticationType" />
                        <a href="javascript:document.getElementById('externalLoginForm').submit()" class="btn" id="@idBtn" title="@p.Caption"><span class="fa fa-@p.Caption.ToLower()"></span></a>*@
                    <button type="submit" class="btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@String.Format(UIConfigLogin.LogInUsingYourProviderAccount, @p.Caption)"><span class="fa fa-@p.Caption.ToLower()"></span> @p.AuthenticationType</button>
                }
            </div>
        }
    }
}