@using Posy.V2.Infra.CrossCutting.Common.Resources
@{
    Layout = "~/Views/Shared/_Account.cshtml";
    ViewBag.Title = "Reset password confirmation";
}
@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>*@
<h1 class="display-4">@ViewBag.Title.</h1>
<div>
    <p>
        @UIConfigLogin.SuaSenhaFoiResetada. @UIConfigLogin.PorFavor @Html.ActionLink(UIConfigLogin.CliqueAquiParaEfetuarLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
